<style>
.offscreen {
  position: absolute;
  top: -30em;
  left: -300em;
}
div#hmenu {
   margin: 0;
   padding: .3em 0 .3em 0;
   background: #ddeebb;
   width: 100%;
   text-align: center;
}
div#hmenu ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
div#hmenu ul li {
   margin: 0;
   padding: 0;
   display: inline;
}
div#hmenu ul a:link{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #004415;
}
div#hmenu ul a:visited{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #227755;
}
div#hmenu ul a:active{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #227755;
}
div#hmenu ul a:hover{
   margin: 0;
   padding: .3em .4em .3em .4em;
   text-decoration: none;
   font-weight: bold;
   font-size: medium;
   color: #f6f0cc;
   background-color: #227755;
}
</style>
<div id="hmenu">
<ul>
<li><a href="sample">Art</a></li>
<li><a href="sample">Business</a></li>
<li><a href="sample">Comment Is Free</a></li>
<li><a href="sample">Crosswords</a></li>
<li><a href="sample">Culture</a></li>
<li><a href="sample">Education</a></li>
<li><a href="sample">Environment</a></li>
<li><a href="sample">Fashion</a></li>
<li><a href="sample">Film</a></li>
<li><a href="sample">Global</a></li>
<li><a href="sample">Global-development</a></li>
<li><a href="sample">Law</a></li>
<li><a href="sample">Lifeandstyle</a></li>
<li><a href="sample">Media</a></li>
<li><a href="sample">Money</a></li>
<li><a href="sample">Politics</a></li>
<li><a href="sample">Science</a></li>
<li><a href="sample">Society</a></li>
<li><a href="sample">Sport</a></li>
<li><a href="sample">Sustainable-business</a></li>
<li><a href="sample">Technology</a></li>
<li><a href="sample">The Guardian</a></li>
<li><a href="sample">The Observer</a></li>
<li><a href="sample">Travel</a></li>
<li><a href="sample">UK News</a></li>
<li><a href="sample">US News</a></li>
<li><a href="sample">World</a></li>
</ul>
</div>
