<!DOCTYPE html>
<html>
	<head>
		<title>NewsBoard News </title>
	</head>
	<body>
		<h1>Hello {{loginId}}</h1>
         <h4>Percentages shown in brackets indicates how much does a user reads a particular section (Based on count)</h4>
        {% for article in articleList %}
                {% if article.3 %}
                    <table>
                    <h2>{{ article.3 }}  ({{ article.4 }}%)</h2>
                    <tr>
                {% endif %}

                <td style="width:60px"><p><img src= {{article.2}}></p>
                    <p><a href="">{{article.1}}</a></p></td>
                <td style="width:30px"></td>
        {% endfor %}
	</body>
</html>
