<!DOCTYPE html>
<html>
	<head>
		<title>NewsBoard News </title>
	</head>
	<body>
		<h1>Hello {{loginId}}</h1>
		{% for u in user %}

			<p> {{u.total}}</p>
			{{u.categories}}
		{% endfor %}


            {% for article in articleList %}

                    {% if article.3 %}
                        <table>
                        <h2>{{ article.3 }}</h2>
                         <col width="60px" />
                         <col width="40px" />
                         <col width="60px" />
                         <col width="0px" />
                        <tr>
                    {% endif %}

                    <td> <p><a href="">{{article.1}}</a></p>
                    <p><img src= {{article.2}}></p></td>
                    <td></td>
            {% endfor %}
	</body>
</html>
